<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MasterEtUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <userSettings>
    <MasterEtUI.Properties.Settings>
      <setting name="dyslBackground" serializeAs="String">
        <value>SeaShell</value>
      </setting>
      <setting name="nonDysBack" serializeAs="String">
        <value>Gray</value>
      </setting>
      <setting name="SelectedBackground" serializeAs="String">
        <value>nonDysBack</value>
      </setting>
      <setting name="nonDysFont" serializeAs="String">
        <value>Microsoft Sans Serif, 8.25pt</value>
      </setting>
      <setting name="dyslFont" serializeAs="String">
        <value>Microsoft Sans Serif, 14.25pt</value>
      </setting>
      <setting name="SelectedFont" serializeAs="String">
        <value>nonDysFont</value>
      </setting>
      <setting name="SQLConnectionStr" serializeAs="String">
        <value>Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\A-ComSci\coursework\LPRProg\V5\MasterEtUI\PlateRecognitionDatabase.mdf;Integrated Security=True</value>
      </setting>
      <setting name="ProjectPath" serializeAs="String">
        <value>D:\A-ComSci\coursework\LPRProg\V5\</value>
      </setting>
    </MasterEtUI.Properties.Settings>
  </userSettings>
  <connectionStrings>
    <add name="PlateRecognitionDatabaseEntities" connectionString="metadata=res://*/ERDiagram.csdl|res://*/ERDiagram.ssdl|res://*/ERDiagram.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\PlateRecognitionDatabase.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>